
.imagen-sobremi img:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    }
.proyecto1 img, .proyecto2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .proyecto1:hover img, .proyecto2:hover img {
    transform: scale(1.03);
  }
.imagen-proyectos img:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    }